{% extends 'base.html'%}

{% block content%}

<div class="signup-container">
    <p class="subtitle">Training Database</p>
    <div class="signup-card">
        <h2>Create Your Easy Blue Account</h2>
        
        <form action="{% url 'register'%}" method="POST">
            {%csrf_token %}

            {{form}}
            <!-- <label for="fname">Please enter your first name:</label><br>
            <input type="text" placeholder="Name" required  id="fname" name="FirstName">
            <label for="lname">Please enter your last name:</label><br>
            <input type="text" placeholder="Surname" required  id="lname" name="LastName">
            <label for="Company_ID">Please enter your Company ID:</label>
            <input type="text" placeholder="CO.ID" id="Company_ID" maxlength="8" required name="CO_ID">
            <label for="Company_CDSID">Please enter your Company CDSID:</label>
            <input type="text" placeholder="CDSID" maxlength="20" id="Company_CDSID" required name="CDSID">
            <label for="pword">Please enter your password:</label>
            <input type="password" placeholder="Password" required id="pword" minlength="7" maxlength="12" name="Password">
            <label for="pword2">Please re-enter your password:</label>
            <input type="password" placeholder="Password" required id="pword2" minlength="7" maxlength="12" name="Password2">
            <label for="cellnumber">Please enter your cellphone number:</label>
            <input type="tel" placeholder="Cellphone number" required id="cellnumber" minlength="10" maxlength="10" name="phonenumber"> -->
            

            
            <button type="submit" class="btn-submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock content%}