{% extends 'base.html'%}

{% block content%}

    <div class="mainpage">
        <p class="subtitle">Training Database</p>
        <!-- We should have this card div inside a form if the database cannot work properly with it. and the method for this page should be method="POST". -->
        <div class="card">
            <form action="{% url 'sign_in' %}" method="POST">
                {% csrf_token %}
                <h3>Login to your Account</h3>

                {{form}}
                
                <!-- <label for="Company_CDSID">Please enter your Company CDSID:</label><br>
                <input type="text" placeholder="CDSID" required maxlength="20" id="Company_CDSID" name="CDSID">
                <label for="pword">Please enter your password:</label>
                <input type="password" placeholder="Password" id="pword" required minlength="7" maxlength="12" name="Password"> -->

                <button type="submit" class="btn-first">Sign In</button>
                <hr>
            </form>
            <p>New user?</p>
            <a href="{% url 'register'%}"><button class="btn-secondary">Create Account (Sign-Up)</button></a>
        </div>
    </div>
{% endblock content%}

