{% extends 'base.html'%}

{% block content%}

    <div class="dashboard-container">
        <header class="dashboard-header">
            <h1>Trainings Database</h1>
            <p class="subtitle">Admin Management Portal</p>
        </header>

        <div class="menu-grid">
            <div class="menu-card">
                <div class="card-icon">➕</div>
                <h3>Add Employee Training</h3>
                <p>Add new employee and contractor training records</p>
                <a href="{% url 'add_employee' %}" style="width: 100%;"><button class="btn-action">Add Records</button></a>
            </div>

            <div class="menu-card">
                <div class="card-icon">🔍</div>
                <h3>View Employee Training</h3>
                <p>Search and find exiting employee and contractor training records</p>
                <a href="{% url 'view_employee_training'%}" style="width: 100%;"><button class="btn-action">View Records</button></a>
            </div>

            <div class="menu-card">
                <div class="card-icon">👤</div>
                <h3>Admin Access Requests</h3>
                <p>Approve or deny new sign-ups </p>
                <div class="notification-badge">3 Pending</div>
                <a href="#" style="width: 100%;"><button class="btn-action">Access Requests</button></a>
            </div>
            
        </div>
    </div>

{% endblock content%}

    
