{% extends 'base.html' %}
{% block content %}
    <div class="booking-container">
        <p class="subtitle">Admin Management Portal</p>
        <div class="booking-card">
            <h2>Training Records</h2>
            
            <p class="instruction-text">    </p>
            <div class="tabs">
                <input type="radio" name="view-tab" id="view-employee" checked>
                <label for="view-employee" class="tab-label">Employee</label>

                <input type="radio" name="view-tab" id="view-contractor">
                <label for="view-contractor" class="tab-label">Contractor</label>

                <div class="tab-content" id="employee-search">
                    <div class="section-title">Search Employee</div>
                    
                    <form action="{% url 'search' %}" method="GET" class="form-inline" style="display: flex; width: 50%;">
                        <input class="form-control mr-sm-2" type="search" placeholder="Find Record" aria-label="Search" name="keyword">
                        <button style="height: 40px; margin-top: 11px;" class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                    </form>
                

                    <button class="btn-submit">Employees</button> 

                    <div class="results-container">
                <!-- <div class="section-title">Training Records Found</div> -->



                        <table class="results-table">
                            <thead>
                                
                                <tr>
                                    <th>Emp Number</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Company ID</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members%}
                                <tr style="font-weight: bold;">
                                    <td scope="row">{{forloop.counter}}</th>
                                    <td><a href="{% url 'emp_details' member.id %}" style="color: black; text-decoration: none;">{{ member.first_name}}</a></td>
                                    <td>{{ member.last_name}}</td> 
                                    <td>{{ member.company_ID}}</td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    
            </div>

                <div class="tab-content" id="contractor-search">
                    <div class="section-title">Search Contractor</div>
                    <form action="{% url 'cont_search' %}" method="GET" class="form-inline" style="display: flex; width: 50%;">
                        <input class="form-control mr-sm-2" type="search" placeholder="Find Record" aria-label="Search" name="cont_keyword">
                        <button style="height: 40px; margin-top: 11px;" class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    </form>
                    <button class="btn-submit">Contractors</button> 

                    <div class="results-container">
                <!-- <div class="section-title">Training Records Found</div> -->
                        <table class="results-table">
                            <thead>
                                <tr>
                                    <th>Emp Number</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>ID Number</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for cmember in cont_members %}
                                <tr style="font-weight: bold;">
                                    <td scope="row">{{forloop.counter}}</th>
                                    <td><a href="{% url 'cont_details' cmember.id %}" style="color: black; text-decoration: none;">{{cmember.first_name}}</a></td>
                                    <td>{{cmember.last_name}}</td> 
                                    <td>{{cmember.id_number}}</td> 
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div> 
            <a href="{% url 'add_employee' %}"><button class="btn-submit">Add Training Records</button></a>          
        </div>
    </div>

{% endblock content %}